* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(33, 25, 34);
}

body {
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

            /* !Navbar */

.sliding-bar {
    width: 100vw;
    overflow-x: scroll;
}

.side-slide {
    overflow-x: auto;
    background-color: white;
    max-width: 100%;
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.slide-menu-items {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide-item {
    padding: 10px;
    padding-right: 8px;
    display: flex;
    
}

.a-slide-menu-item {
    font-weight: 650;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    padding-bottom: 9px;
    
}

.a-slide-menu-item.active {
    position: relative;
}
  
.a-slide-menu-item.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 3.5px;
    background-color: black;
    border-radius: 78px;
    margin-bottom: 4px;
}

            /* !Footer */

.footer {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon {
    fill: grey;
    margin-right: 10px;
}

.search-icon {
    fill: grey;
    margin-left: 10px;
    margin-right: 10px;
}

.notification-icon {
    fill: grey;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-icon {
    fill: grey;
    margin-left: 10px;
}

.footer-icons {
    padding: 0px 24px 0px 24px;
}

.active-icon {
    fill: black;
}

            /* !main section */

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* add a 20px gap between grid items */
    max-width: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 65px;
    border-radius: 10%;
}
